{# templates/home.html #}
{% extends "base.html" %}
{% load static %}

{% block title %}Menu | Forno Italiano Pizzeria{% endblock %}


{% block content %}

<div class="flex-grow max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 w-full">
        <div class="bg-white p-8 rounded-lg shadow-lg">

            <h1 class="text-4xl font-bold text-gray-900 mb-12 text-center logo-font text-red-800">Our Menu</h1>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">

                    <div>
                        <h2 class="text-2xl text-red-800 mb-3">Apppetizers</h2>
                        <ul class="text-gray-600 space-y-1">
                            <li><strong>Garlic Bread:</strong> £4.50</li>
                            <li><strong>Garlic Bread with Cheese:</strong> £5.00</li>
                            <li><strong>Arancini:</strong> £5.00</li>
                            <li><strong>Toasted Ravioli:</strong>£4.50</li>
                            <li><strong>Fried Calamari:</strong> £5.50</li>
                            <li><strong>Mozzarella Sticks:</strong> £5.50</li>
                        </ul>
                    </div>

                    <div>
                        <h2 class="text-2xl text-red-800 mb-3">Pizzas</h2>
                        <ul class="text-gray-600 space-y-1">
                            <li><strong>Margherita:</strong> £8.50</li>
                            <li><strong>Diavola (Pepperoni):</strong> £10.00</li>
                            <li><strong>Quattro Carni(Meat Feast):</strong> £12.00</li>
                            <li><strong>Ortolana (Veggie):</strong>£10.50</li>
                            <li><strong>Funghi (Mushroom):</strong> £10.00</li>
                            <li><strong>Capricciosa (Hawaiian):</strong> £9.50</li>
                        </ul>
                    </div>

                    <div>
                        <h2 class="text-2xl text-red-800 mb-3">Desserts</h2>
                        <ul class="text-gray-600 space-y-1">
                            <li><strong>Tiramisu:</strong> £5.50</li>
                            <li><strong>Vanilla Panna Cotta:</strong> £4.95</li>
                            <li><strong>Sicillian Cannoli:</strong> £5.00</li>
                            <li><strong>Warm Chocolate Fondant:</strong>£6.00</li>
                            <li><strong>Affogato:</strong> £4.50</li>
                            <li><strong>Artisan Gelato:</strong> £4.75</li>
                        </ul>
                    </div>

                    <div>
                        <h2 class="text-2xl text-red-800 mb-3">Drinks</h2>
                        <ul class="text-gray-600 space-y-1">
                            <li><strong>San Pellegrino Limonata:</strong> £2.50</li>
                            <li><strong>San Pellegrino Aranciata:</strong> £2.50</li>
                            <li><strong>Still Water (500ml):</strong> £1.80</li>
                            <li><strong>House Red Wine (Glass):</strong>£5.50</li>
                            <li><strong>House White Wine (Glass):</strong> £5.50</li>
                            <li><strong>Peroni Nastro Azzuro (330ml):</strong> £4.20</li>
                        </ul>
                    </div>
                    
                </div>


{% endblock %}